<template>
    <footer>
        <div class="footer-content">
            <div class="is-flex is-full-height direction-column justify-center align-center">
                
                <div class="footer-logo mb50">
                    <svg x="0px" y="0px" viewBox="0 0 1059.9 409.4" style="enable-background:new 0 0 1059.9 409.4;" xml:space="preserve">
                    <!-- <style type="text/css">
                        .st0{fill: #FFFFFF;}
                    </style> -->
                    <g>
                        <path class="st0" d="M105.6,7.5C121,2.8,137.1,0.6,153.2,0c7.5,0,15-0.1,22.5,0c18.6,0.7,37.4,3.6,54.9,10.2
                            c9,3.6,17.9,8.1,25,14.8c8.4,0.1,16.8,1.5,24.8,4.4c17.2,6.2,31.8,19.1,40,35.5c5.4,10.5,8.1,22.4,7.9,34.2c0,10.1,0,20.1,0,30.2
                            c0,23-11.8,45.7-30.7,58.8c-5.5,4-11.7,6.7-17.6,10c-8.1,4.3-16.5,8.6-25.8,9.7c-39.7-0.2-79.5,0-119.2-0.1
                            c-20.2,0.1-40.4-0.1-60.6,0.1c-11.8-1.4-22-8.1-32.5-13.2c-10.3-4.9-19.5-12.1-26.5-21.2c-9.2-11.7-14.5-26.2-15.3-41
                            c0.2-12.8,0.2-25.5,0-38.3c0.9-17.6,8.3-34.7,20.8-47.2C34.2,33,53.4,25.1,72.7,25.1C81.8,16.3,93.7,11.3,105.6,7.5 M67.9,80.6
                            c-9.4,1.9-17.8,8.1-22.4,16.5c-3.9,6.8-5.1,15-3.6,22.7c1.9,9.8,8.4,18.6,17.3,23.1c8.1,4.4,18.2,5,26.8,1.8
                            c7.6-2.7,14-8.3,17.9-15.4c4.2-7.6,5.3-17,2.7-25.4c-2.1-7-6.5-13.3-12.4-17.6C86.9,80.8,77,78.6,67.9,80.6 M248.4,80.5
                            c-7.3,1.4-14.2,5.4-19.1,11.1c-6.4,7.4-9.4,17.8-7.6,27.5c1.4,8.2,6,15.7,12.6,20.7c7.6,6,17.8,8.3,27.3,6.2
                            c7.1-1.5,13.7-5.4,18.4-10.9c6.4-7.3,9.4-17.7,7.6-27.3C286,97.4,279,88,269.5,83.4C263.1,80.1,255.5,79.1,248.4,80.5z"/>
                        <path class="st0" d="M27.9,228c15.3-1.7,30.6-4.2,45.9-6.1c6.1-0.5,12.2-0.2,18.2-0.3c12.1,0.1,24.3-0.2,36.5,0.2
                            c37.8,0,75.6,0,113.3,0c4.5,0,8.9-0.1,13.4,0.4c16.4,2,32.7,4.5,49.1,6.2c7,1.3,13.4,5.2,17.8,10.8c9.1,11.6,8.3,30.2-2.5,40.5
                            c-5.4,5.7-13.2,8.4-20.9,8.8c-12.8,30.6-25.7,61.2-38.5,91.8c-1.9,6-4.8,11.7-9.2,16.3c-6.7,7.2-16.2,12.2-26.1,12.4
                            c-37.1-0.3-74.2,0-111.3-0.2c-2.1,0-4.2,0.1-6.3,0.4c-14.7,0.1-28.8-9.2-34.9-22.5c-5.8-14.6-12.4-28.8-18.6-43.2
                            c-8-18.4-16.1-36.7-24.1-55.1c-6.6-0.4-13.2-2.3-18.3-6.5c-6.3-4.9-10.4-12.5-11.1-20.4c0-2.5,0-4.9,0-7.4
                            C1.3,240.3,13.8,228.4,27.9,228 M106.4,284c-2.7,1.1-4.9,3.9-4.8,6.9c0,17.7,0,35.4,0,53.2c0,4.6,5,8.4,9.5,7.2
                            c3.7-0.7,6.3-4.3,6.2-8c0-17.4,0-34.8,0-52.3C117.1,285.8,111.2,281.7,106.4,284 M161.1,284c-3,1.3-5.1,4.4-4.8,7.7
                            c0,17.2,0,34.4,0,51.6c-0.2,3.8,2.6,7.3,6.3,8c4.7,1.1,9.8-3.1,9.4-8c0-17.4,0-34.9,0-52.3C171.9,285.7,165.8,281.7,161.1,284
                            M215.8,284c-2.7,1.1-4.8,3.8-4.8,6.8c0,17.5,0,34.9,0,52.4c-0.3,3.7,2.6,7.3,6.2,7.9c4.8,1.2,9.8-3.1,9.5-8c0-17.2,0-34.3,0-51.5
                            C227.2,286.3,220.9,281.4,215.8,284z"/>
                    </g>
                    <g>
                        <path class="st0" d="M889.1,67.2c17.3,0,34.6,0,51.8,0c0.1,27.5,0,55,0,82.6c13.3-6.1,27.8-9.3,42.3-10.5
                            c17.3,0.1,35.6,3,49.5,13.9c13.4,10.3,20.2,26.7,23.5,42.8c4.6,22.4,4.2,45.5,2.7,68.3c-1.5,11.9-3.6,23.9-8,35
                            c-6.3,15-18.2,28.3-33.9,33.7c-11.8,5-24.7,6.4-37.3,7.3c-30.3,1.3-60.4-2.5-90.6-4.9C889.1,245.9,889,156.5,889.1,67.2
                            M940.6,190.3c0.1,34.2-0.1,68.4,0.1,102.6c7.2,1.2,14.6,1.1,21.9,1.4c6.8-0.1,13.8,0.1,20.4-1.9c9.9-2.4,18-10.4,20.7-20.2
                            c5-16.6,4.6-34.3,3-51.5c-0.9-10.2-4.2-20.5-11.1-28.2c-5.3-4.9-12.6-7.1-19.7-7.2C964,185.4,952.2,187.5,940.6,190.3z"/>
                        <path class="st0" d="M455.9,74.8c37.4,0,74.9-0.1,112.3,0.1c15.4,1.7,31.5,3.2,45,11.5c14.1,8.4,23.3,23.6,25.6,39.7
                            c1.8,14.3,2.1,29.1-1.6,43.2c-3.4,13.8-13.5,25-25.4,32.2c13,5.7,24.7,15.9,29.1,29.8c5.5,17.7,5.8,37,1.3,55
                            c-2.5,7.8-5.3,15.7-10.5,22.2c-7.5,9.3-17.5,16.7-28.7,20.9c-14.6,5.2-30.3,6.9-45.7,7c-33.8,0-67.5,0-101.3,0
                            C455.9,249.1,455.9,162,455.9,74.8 M509.3,120.3c0,20.7,0,41.5,0,62.2c15.6,0,31.2,0,46.8,0c6.9-0.3,14.4-1.2,20.1-5.5
                            c6.3-4.6,9.4-12.5,9.8-20c0.6-9.2,0.5-19.4-5.3-27.1c-5.4-7.1-14.8-9.5-23.3-9.5C541.3,120.3,525.3,120.3,509.3,120.3 M509.3,226.9
                            c0,21.2,0.1,42.4-0.1,63.7c16-0.2,32,0,48-0.1c7.4-0.2,15.4-0.2,22-4.2c5.6-3.1,9.4-8.7,10.6-14.9c2.4-11,2.3-23.5-4.3-33
                            c-6.8-9.1-18.8-11.3-29.5-11.5C540.5,226.8,524.9,226.7,509.3,226.9z"/>
                        <path class="st0" d="M747.1,140.2c23.5-2.3,48.8-0.8,69.3,12.2c18.5,11.3,28.6,32.3,32.7,52.9c3.8,21.3,3.8,43.3,0.8,64.7
                            c-3.2,17.3-9.3,35-21.9,47.8c-13.7,15.3-34.8,21-54.6,22.5c-17.5,0.9-35.7-0.3-52-7.2c-16.9-6.8-30.1-21.2-36.8-38
                            c-4.7-10.7-6.7-22.3-8.2-33.8c-1.5-9.4-0.6-19-0.8-28.4c-0.4-10.6,1.6-21,3.6-31.4c3.8-17.4,12.3-34.7,26.8-45.6
                            C717.7,146.8,732.4,141.8,747.1,140.2 M753.2,184.2c-8.7,1.8-16.6,7.9-19.8,16.3c-5.9,14.4-5.8,30.3-5.6,45.7
                            c0.1,11.7,1.5,23.6,6.3,34.3c3.8,8.5,12.2,14.4,21.3,15.6c9.8,1.3,20.7,0.9,29.1-4.9c8.2-6.1,11.8-16.5,13.3-26.2
                            c2.2-14.7,2.3-29.6,0.8-44.4c-1.1-9.7-3-20-9.5-27.7C780.3,183,765.5,181.6,753.2,184.2z"/>
                    </g>
                    </svg>
                </div>

                <div class="level is-size-7 footer-credits">
                    <div class="level-left mr30">
                        Brilliant Online Buying © {{ year }}
                    </div>
                    <div class="level-right ml30">
                        Website built by: Assis10t
                        <!-- <a href="https://weband.bg/" class="weband-logo" target="_blank">
                            <i class="weband-logo icon-weband-logo"></i>eband
                        </a> -->
                        <!-- Design and development: <a href="https://weband.bg/" target="_blank">Weband</a> -->
                    </div>
                </div>
            </div>

        </div>

        <svg viewBox="0 0 1330 419" class="footer-bckg">
            <defs>
                <linearGradient x1="105.189448%" y1="108.514767%" x2="0%" y2="21.3648885%" id="linearGradient-1">
                    <stop stop-color="#529eba" offset="0%"></stop>
                    <stop stop-color="#82c4dc" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="90.7814356%" y1="19.4594161%" x2="8.02921532%" y2="86.6485037%" id="linearGradient-2">
                    <stop stop-color="#FFFFFF" offset="0%"></stop>
                    <stop stop-color="#FFFFFF" stop-opacity="0.627774004" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(0.000000, -121.000000)" fill="url(#linearGradient-1)">
                    <path d="M-5.46229728e-13,178.730469 C223.762515,140.561631 446.158348,121.477213 667.1875,121.477213 C888.216652,121.477213 1109.15415,140.561631 1330,178.730469 L1330,540 L-1.13686838e-12,540 L-5.46229728e-13,178.730469 Z" id="Rectangle"></path>
                </g>
                <g fill="url(#linearGradient-2)" transform="translate(25, 250) rotate(-126.000000) translate(-25, -372) translate(-84, 266)" style="opacity: 0.7">
                    <path d="M126.036362,189.864876 C123.897527,190.271646 121.926658,188.551325 121.926658,186.308452 L121.926658,26.7673689 C121.926658,24.5244964 123.897527,22.8051999 126.036362,23.2109457 L126.105934,23.2242656 C127.773668,23.5429195 128.991174,25.0316786 128.991174,26.7806888 L128.991174,186.296157 C128.991174,188.044143 127.773668,189.532902 126.105934,189.851556 C126.083074,189.856679 126.059221,189.860777 126.036362,189.864876 Z M156.507419,34.8425972 C157.474603,35.503457 158.04219,36.6335784 158.04219,37.8292736 L158.04219,173.275814 C158.04219,174.471509 157.474603,175.60163 156.507419,176.26249 C156.483563,176.278883 156.459706,176.295277 156.43585,176.31167 C154.096915,177.90593 150.977673,176.215359 150.977673,173.324994 L150.977673,37.7800933 C150.977673,34.8897283 154.096915,33.1991568 156.43585,34.793417 C156.459706,34.8098104 156.483563,34.8262038 156.507419,34.8425972 Z M188.094816,140.603022 C186.578932,144.1757 181.390136,143.048294 181.390136,139.14999 L181.390136,74.2919177 C181.390136,70.3925896 186.578932,69.2651841 188.094816,72.8378615 C188.117679,72.8931566 188.141535,72.9484517 188.164398,73.0037468 C188.358232,73.4614673 188.454652,73.9580991 188.454652,74.456779 L188.454652,138.984105 C188.454652,139.482785 188.358232,139.979417 188.164398,140.437137 C188.141535,140.492432 188.117679,140.547727 188.094816,140.603022 Z M141.249754,26.3882163 C142.593672,26.9333917 143.481334,28.2655871 143.481334,29.7545717 L143.481334,180.757897 C143.481334,182.246882 142.593672,183.579077 141.249754,184.124253 C141.226891,184.133476 141.203035,184.142698 141.179178,184.152946 C138.890939,185.077285 136.416818,183.319812 136.416818,180.786591 L136.416818,29.7258782 C136.416818,27.1916326 138.890939,25.4341594 141.179178,26.3595229 C141.203035,26.3687458 141.226891,26.3789934 141.249754,26.3882163 Z M79.3258678,27.7556509 C81.6137851,26.8302842 84.0885523,28.5877636 84.0885523,31.1220182 L84.0885523,182.182243 C84.0885523,184.716497 81.6137851,186.473977 79.3258678,185.54861 C79.3030085,185.539387 79.2791553,185.530164 79.2553022,185.520941 C77.9115732,184.975764 77.0240362,183.643564 77.0240362,182.154574 L77.0240362,31.1507117 C77.0240362,29.6617219 77.9115732,28.3295217 79.2553022,27.7843444 C79.2791553,27.7751215 79.3030085,27.7648738 79.3258678,27.7556509 Z M32.410554,71.3046147 C33.9264379,67.7329396 39.1152341,68.859328 39.1152341,72.7586796 L39.1152341,137.617145 C39.1152341,141.515472 33.9264379,142.642885 32.410554,139.070186 C32.3876915,139.015914 32.3628409,138.959595 32.3399784,138.904299 C32.1461441,138.446576 32.0507179,137.949941 32.0507179,137.451258 L32.0507179,72.9245659 C32.0507179,72.4248591 32.1461441,71.9282242 32.3399784,71.4705009 C32.3628409,71.4152055 32.3876915,71.3599101 32.410554,71.3046147 Z M172.328086,48.7229953 C172.925409,49.3867868 173.248421,50.2653645 173.248421,51.169512 L173.248421,161.103208 C173.248421,162.007356 172.925409,162.886956 172.328086,163.550748 C172.305226,163.576317 172.281373,163.60291 172.25752,163.629503 C170.09185,166.029994 166.183905,164.457964 166.183905,161.181963 L166.183905,51.0907571 C166.183905,47.8147567 170.09185,46.2427265 172.25752,48.6442404 C172.281373,48.6708329 172.305226,48.6964027 172.328086,48.7229953 Z M63.9987288,177.065941 C63.0316813,176.40508 62.4631805,175.274955 62.4631805,174.078232 L62.4631805,38.6323304 C62.4631805,37.4356073 63.0316813,36.3065072 63.9987288,35.6456456 C64.0215881,35.6292521 64.0464352,35.6128586 64.0692945,35.5964652 C66.4088937,34.0022005 69.5276967,35.6927768 69.5276967,38.58315 L69.5276967,174.128437 C69.5276967,177.01881 66.4088937,178.709386 64.0692945,177.114097 C64.0464352,177.098728 64.0215881,177.082335 63.9987288,177.065941 Z M113.784943,24.7622721 L113.784943,187.146887 C113.784943,189.118074 112.251167,190.750992 110.339662,190.754067 L110.252188,190.754067 L110.165708,190.754067 C108.255197,190.750992 106.720427,189.118074 106.720427,187.146887 L106.720427,24.7622721 C106.720427,22.791085 108.255197,21.158167 110.165708,21.1550919 C110.194535,21.1540668 110.223361,21.1540668 110.252188,21.1540668 C110.282009,21.1540668 110.310835,21.1540668 110.339662,21.1550919 C112.251167,21.158167 113.784943,22.791085 113.784943,24.7622721 Z M94.4700019,22.0430105 C96.6088369,21.6372648 98.5787118,23.3565613 98.5787118,25.5994337 L98.5787118,185.140517 C98.5787118,187.38339 96.6088369,189.103711 94.4700019,188.69694 C94.4471426,188.691817 94.4222956,188.688744 94.3994363,188.68362 C92.7317016,188.364967 91.5141957,186.876207 91.5141957,185.127197 L91.5141957,25.6117291 C91.5141957,23.8637435 92.7317016,22.3749843 94.3994363,22.0563305 C94.4222956,22.052232 94.4471426,22.047109 94.4700019,22.0430105 Z M48.24785,48.2793472 C50.4135197,45.8778426 54.3214654,47.4498667 54.3214654,50.7258544 L54.3214654,160.816634 C54.3214654,164.092622 50.4135197,165.665668 48.24785,163.264164 C48.2249907,163.237571 48.2011375,163.212002 48.1772843,163.185409 C47.579961,162.52162 47.2569492,161.642023 47.2569492,160.737879 L47.2569492,50.804609 C47.2569492,49.9004651 47.579961,49.0218908 48.1772843,48.3581018 C48.2011375,48.3315093 48.2249907,48.3059397 48.24785,48.2793472 Z" id="footer-left" transform="translate(110.252685, 105.954067) rotate(66.000000) translate(-110.252685, -105.954067) "></path>
                </g>
                <g fill="url(#linearGradient-2)" transform="translate(1305, 250) rotate(-28) translate(-1305, -391) translate(1205, 291)" style="opacity: 0.7">
                    <path d="M71.8034193,53.6722364 C72.3964193,53.0792364 73.2014193,52.7462364 74.0404193,52.7462364 L151.314419,52.7462364 C154.888419,57.6782364 157.941419,63.0122364 160.369419,68.6812364 L64.4314193,68.6812364 C61.6134193,68.6812364 60.2024193,65.2742364 62.1954193,63.2812364 L71.8034193,53.6722364 Z M45.2458193,80.2299364 C45.8388193,79.6369364 46.6438193,79.3039364 47.4828193,79.3039364 L164.067819,79.3039364 C165.474819,84.4339364 166.394819,89.7619364 166.787819,95.2389364 L37.8738193,95.2389364 C35.0558193,95.2389364 33.6448193,91.8319364 35.6378193,89.8389364 L45.2458193,80.2299364 Z M36.5192193,105.861736 L166.890219,105.861736 C166.588219,111.331736 165.761219,116.660736 164.447219,121.796736 L46.1272193,121.796736 C45.2892193,121.796736 44.4842193,121.463736 43.8912193,120.869736 L34.2832193,111.260736 C32.2902193,109.268736 33.7012193,105.861736 36.5192193,105.861736 Z M98.3610193,27.1146364 C98.9540193,26.5216364 99.7590193,26.1886364 100.598019,26.1886364 L119.126019,26.1886364 C127.704019,30.1766364 135.482019,35.5856364 142.159019,42.1236364 L90.9890193,42.1236364 C88.1710193,42.1236364 86.7600193,38.7166364 88.7530193,36.7226364 L98.3610193,27.1146364 Z M60.8405193,137.818736 C58.8475193,135.826736 60.2585193,132.419736 63.0765193,132.419736 L160.923519,132.419736 C158.620519,138.070736 155.713519,143.407736 152.277519,148.353736 L72.6855193,148.353736 C71.8465193,148.353736 71.0425193,148.020736 70.4485193,147.426736 L60.8405193,137.818736 Z M87.3981193,164.376336 C85.4051193,162.384336 86.8161193,158.977336 89.6341193,158.977336 L143.509119,158.977336 C137.248119,165.395336 129.953119,170.790336 121.893119,174.911336 L99.2431193,174.911336 C98.4041193,174.911336 97.6001193,174.578336 97.0061193,173.984336 L87.3981193,164.376336 Z" id="footer-right" transform="translate(100.120166, 100.549986) rotate(-135.000000) translate(-100.120166, -100.549986) "></path>
                </g>
            </g>
        </svg>
    </footer>
</template>

<script>


export default {
    props: ['logo_url', 'links', 'social', 'pages', 'sitemap', 'cookie_img'],

    data: function () {
        return {
            year: (new Date()).getFullYear()
        }
    },
    methods: {
        
    },
    computed: {
        homepage_url: function () {
            return this.home_url ? this.home_url : this.links[0].url
        }
    },
    mounted: function () {

    }
}
</script>
