<template>
    <div id="app">
        <headroom-header 
            id="header"
            :links="[
                {
                    name: 'Home',
                    url: '/'
                },
                {
                    name: 'Meet the Bob',
                    url: '/meet-bob'
                },
                {
                    name: 'Bob App',
                    url: '/bob-app'
                },
                {
                    name: 'About the Team',
                    url: '/about'
                },
            ]"
        >
        </headroom-header>

        <main>
            <div class="main-content">
                <router-view/>
            </div>
        </main>

        <abs-footer
            :links="[
                {
                    name: 'Home',
                    url: '/'
                }
            ]"
        ></abs-footer>

    </div>

  <!-- <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>

    


  </div> -->
</template>

<style lang="sass">
@import './assets/sass/style.sass'

</style>


<script>
import HeadroomHeader from '@/components/HeadroomHeader.vue'
import AbsFooter from '@/components/AbsFooter.vue'

export default {
  name: 'home',
  components: {
    HeadroomHeader,
    AbsFooter
  }
}
</script>